//nextflow.config
nextflow.enable.dsl=2

//=============================================================================
// PARAMS
//=============================================================================
params {
    containerDir = "${baseDir}/containers"
    containerCache = "${baseDir}/container_cache"
    
    // Base cell parameters
    baseCellOutput = "${baseDir}/report"
    zarrStore = "base_cell_cellxgene.zarr"
    plot_out = "plots/"
    baseCellAtlas = "cellxgene"
    baseCellOrganism = "mus_musculus"
    baseCellKeepAll = false
    baseCellMaxChunkSize = 5000
    baseCellMinChunkSize = 1000
    baseCellDistanceMetrics = "wasserstein"
    baseCellMaxGenes = 20000
    baseCellMaxCellTypes = 400
}

