//nextflow.config
nextflow.enable.dsl=2

//=============================================================================
// PARAMS
//=============================================================================
params {
    containerDir = "${baseDir}/containers"
    containerCache = "${baseDir}/container_cache"
}

