/*
 * Production run config (HPC with Slurm)
 */

process {
    executor = 'slurm'
    queue    = 'defq'
    cpus     = 1
    memory   = '64 GB'
    time     = '24h'
    scratch  = true
    clusterOptions = '--nodelist=esplhpc-cp047'

    // GPU label
    withLabel: gpu {
        cpus   = 4
        memory = '32 GB'
        time   = '48h'
        clusterOptions = '--gres=gpu:1'
    }
}

executor {
    queueSize       = 10
    submitRateLimit = '1 sec'
    pollInterval    = '60 sec'
}

workDir = './work'
cleanup = true
resume  = true

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = './container_cache'
}

// --- Reporting ---
timeline {
    enabled = true
    file    = 'logs/timeline.html'
    overwrite = true
}

report {
    enabled = true
    file    = 'logs/report.html'
    overwrite = true
}

trace {
    enabled = true
    file    = 'logs/trace.txt'
    overwrite = true
}

dag {
    enabled = true
    file    = 'logs/dag.png'
    overwrite = true
}
